*{margin: 0;padding: 0}
.backview{
	/*width: 1564px;*/
}
.headerbar{
	width: 100%;
	text-align: center;
}
.navlist{
	width: 100%;
	overflow: hidden;
}
.backview .menu{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #3f3f3f;
}

.backview .contentview{
	position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 200px;
    overflow: auto;
	min-width: 1200px;
}
.backview .navlist .list-group-item{
	border-radius: 0;
	color: rgba(255, 255, 255, 0.447058823529412);
	background-color: #3f3f3f;
	border:0;
}
.backview .navlist .list-group-item.active {
    color: #fff;
    background-color: #337ab7;
}
.contenthead{
	width: 100%;
	height: 60px;
	/*float:left;*/
	background-color: #ffffff;
}
.contentbody{
	width: 100%;
}
.bodyhead{
	width: 100%;
	height: 130px;
}
.contentsubbody{
	width: 100%;
}
.bodyone{
	height: 100%;
	width: 40%;
	float: left;
}
.bodytwo{
	height: 100%;
	width: 60%;
	float: right;
}
.bodybottom{
	height: 80px;
	width: 100%;
}
.labelfont13{
	font-size: 13px;
    font-weight: 400;
}
.labelfont15{
	font-size: 15px;
    font-weight: 700;
}
.breadcrumb{
	background-color: white;
	font-size: 16px;
}

.left{
	float: left;
}
.right{
	float: right;
}

.contentColor{
	background-color: #f4f4f4;
}
