.contentsubbody{
	height: 100%;
}
.mynav{
	height: 779px;
}
.textleft70 {
    left: 20px;
    position: relative;
    top: 10px;
}

.titlelabel {
    width: 100%;
    height: 40px;
}

.label1 {
    top: 40px;
}

.base1{
	height: 100%;
	width: 34%;
	position: relative;
	left: 0;
	top: 0;
	display: inline-block;
}
.base2{
	display: inline-block;
	height: 100%;
	width: 29%;
}
 .base3, .base4{
 	display: inline-block;
	height: 100%;
	width: 16%;
 }

.base2, .base3, .base4{
	position: relative;
	top: 0;
}

.bodyone1{
	width: 70%;
	height: 100%;
	float: left;
}
.bodyone2{
	width: 30%;
	height: 100%;
	float: right;
}
.parsePostion{
	width: 95%;
	height: 94%;
	background-color: white;
}
.bottomBtn{
	position: relative;
	margin-left: 1080px;
	width: 200px;
}
.MytableView{
	
}