<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>卷筒不干胶标签-卷筒不干胶-不干胶标签-不干胶印刷-北京二维时代</title>
<link href="/static/dist/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="/static/dist/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/codetime/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="卷筒不干胶标签，卷筒不干胶，不干胶标签，不干胶印刷，不干胶标签印刷，不干胶标签，二维时代不干胶印刷，" />
<meta name="description" content="北京二维时代：专业不干胶标签印刷厂家，专业印刷卷筒不干胶标签、卷筒不干胶、不干胶标签、不干胶印刷、食品、酒类、日化标签印刷等，咨询热线:13552273167">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<!--animated-css-->
<link href="/static/codetime/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/codetime/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!--/animated-css-->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="/static/codetime/js/move-top.js"></script>
		<script type="text/javascript" src="/static/codetime/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->
<script>

var _hmt = _hmt || [];

(function() {

  var hm = document.createElement("script");

  hm.src = "//hm.baidu.com/hm.js?9a523081ce2d8eb13a6555b9ee221412";

  var s = document.getElementsByTagName("script")[0];

  s.parentNode.insertBefore(hm, s);

})();

</script>

</head>
<body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6519fcf09b9d9b5b3904bbb46d2ea76e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!---->
<div class="banner">
	 <div class="container">
		 <div class="header">
			 <div class="logo wow fadeInLeft" data-wow-delay="0.5s">    
			 <a href="{% url 'codetime:index' %}"><img src="/static/codetime/images/logo.png" alt="" width="186"
                                       height="74"/><font color="#FFFFFF">12年专业卷筒不干胶标签印刷</font></a>
			 </div>
			 <div class="top-menu">
			 <span class="menu"></span>
				 <ul>
				   <li class="active"><a href="{% url 'codetime:index' %}">首页</a></li>
				   <li><a class="scroll" href="#features">优势</a></li>
				 <li><a class="scroll" href="#about">关于我们</a></li>
				 <li><a class="scroll" href="#testimonials">客户反馈</a></li>
				 <li><a href="{% url 'codetime:jtbq' %}">标签案例</a></li>
				 <li><a href="{% url 'codetime:code' %}">可变二维码</a></li>
				 <li><a class="scroll" href="#contact">联系我们</a></li>			 
				 </ul>
			 </div>
			  <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	  	

			 <div class="clearfix"></div>
		 </div>
		 <div class="banner-info">
			 <div class="col-md-6 banner-text wow fadeInRight" data-wow-delay="0.5s">
				 <h3><font color="#FFFFFF"></font></h3>
				 <h1><font color="#00FF00">标签全方位解决方案</font></h1>
				 <p>►&nbsp7色PS版+6色树脂版UV卷筒组合印刷&nbsp&nbsp呈现标签不同品质<br /><br />
                 ►&nbsp理光600分辨率可变二维码UV印刷&nbsp&nbsp引领二维码防伪时代<br /><br />
                 ►&nbsp“凌云”高精度全自动品检设备&nbsp&nbsp&nbsp&nbsp让标签质量合格率100%</p>
                 
				 <a class="download" href="{% url 'codetime:video' %}">查看视频</a>
				 <a class="view hvr-bounce-to-left" href="{% url 'codetime:jtbq' %}">了解更多</a>
			 </div>
			 <div class="col-md-6 banner-pic wow fadeInLeft" data-wow-delay="0.5s">
				 <img src="/static/codetime/images/phn.png" alt=""/>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div id="features" class="features">
	 <div class="container">
		 <div class="features-head">
			 <h4>我们的优势</h4>
			 <h3>十二年专注不干胶标签印刷</h3>			 
		 </div>
		 <div class="features-section">
			 <div class="col-md-3 feature-grid">
				 <img class="wow bounceIn" data-wow-delay="0.4s" src="/static/codetime/images/icon1.png" alt=""/>
				 <h3>印前</h3>
				 <p>我们拥有非常专业的标签设计师，印刷前对文件文字三校，对色彩具有非常强的识别能力，对印前设计缺陷非常有经验。</p>
			 </div>
			 <div class="col-md-3 feature-grid">
				 <img class="wow bounceIn" data-wow-delay="0.4s" src="/static/codetime/images/icon2.png" alt=""/>
				 <h3>印中</h3>
				 <p>印刷技师拥有8年标签生产</p>
				 <p>经验，对专色调配，油墨控制，</p>
				 <p>印活品质稳定性具有丰富的</p>
				 <p>生产经验，精益求精。</p>
			 </div>
			 <div class="col-md-3 feature-grid col-lg-offset-0">
				 <img class="wow bounceIn" data-wow-delay="0.4s" src="/static/codetime/images/icon3.png" alt=""/>
				 <h3>印后</h3>
				 <p>印后配套设备齐全，腹膜，烫金，可变二维码，丝印，全自动品检等一应俱全。对品质要求100%无误差。</p>
			 </div>
			 <div class="col-md-3 feature-grid">
				 <img class="wow bounceIn" data-wow-delay="0.4s" src="/static/codetime/images/icon4.png" alt=""/>
				 <h3>后期服务</h3>
				 <p>建立客户信息及产品档案，每批产品，由专人进行售后服务；对质量问题做到30分钟内给予解决方案，24小时内加急处理。</p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div id="about" class="about">
	 <div class="container">
		 <div class="about-top">
			 <div class="col-md-6 about-device wow fadeInLeft" data-wow-delay="0.5s">
				 <img src="/static/codetime/images/phn2.png" alt=""/>
			 </div>
			 <div class="col-md-6 about-device-info wow fadeInRight" data-wow-delay="0.5s">
				 <div class="device-text">
					 <h4>关于二维时代印刷</h4>
					 <h3>专注品质&nbsp&nbsp注重细节&nbsp&nbsp服务至上</h3>
					 <p>北京二维时代印刷科技有限公司一家专业从事卷筒不干胶标签类包装印刷的企业，业务范围包括：红酒标签、电池标签、矿泉水标签、防伪标签、高分子热印标签、镭射标签，各种酒类、药品类、食品类、日化类标签以及RFID电子标签、机场登机牌、行李带和各种服装类、鞋类、包类吊牌，景点门票等。 </p>
				 </div>
				 <div class="about-list">
					 <ul>
						 <li><a href="#"><span class="abt1"></span>一流好材质：艾利，金利宝，蓝泰材料</a></li>
						 <li><a href="#"><span class="abt2"></span>7色轮转+6色树脂版UV组合式印刷，专色渐变UV是我们的专长</a></li>
						 <li><a href="#"><span class="abt3"></span>生产管控高效，多条动态生产线满足高产能</a></li>
						 <li><a href="#"><span class="abt4"></span>专注品质，高效执行，服务至上</a></li>
					 </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>		
	 </div>
</div>
<div class="about-bottom">
	 <div class="container">
		 <div class="col-md-6 about-customize wow fadeInRight" data-wow-delay="0.5s">
			 <div class="device-text-bottom">
					<h4>愿与每一位合作伙伴携手并进，共创美好明天</h4>
					<h3>质量是生命，客户为上帝</h3>
					<p>北京二维时代印刷科技有限公司一直执行ISO9001：2008质量管理体系和ISO14001：2004环境管理体系标准，并在公司内部推行ERP管理。严格的印前、印中、印后管理和先进的印刷设备，确保了公司在国内同行业中的领先地位。<br>
					  <br>
					  多年的生产经验和现代化的管理模式，以及经验丰富的印刷专家队伍，使客户不但得到高品质的印刷产品，更能获得更专业的技术支持。提供最适合您的印刷产品，是二维时代印刷永远的追求。</p>
			 </div>				 
		 </div>
		 <div class="col-md-6 about-device-bottom wow fadeInLeft" data-wow-delay="0.5s">
				<img src="/static/codetime/images/phn3.jpg" alt=""/>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->

	  <div class="container">
		 <div class="pricing-text-bottom">
         <h4> </h4>
		   <h4>车间、办公室实景</h4>
           
           <div id="about" class="about">
	 <div class="container">
		 <div class="about-top">
			 <div class="col-md-6 about-device wow fadeInLeft col-lg-12" data-wow-delay="0.5s"><img src="/static/codetime/images/ljttt.png" width="1102" height="173" alt=""/></div>
		
</div>
				 <div class="about-list"> </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>		
	 </div>
</div>
  <script src="/static/codetime/js/responsiveslides.min.js"></script>
  <script>
    // You can also use "$(window).load(function() {"
    $(function () {
      $("#slider2").responsiveSlides({
        auto: true,
        pager: true,
        speed: 300,
        namespace: "callbacks",
      });
    });
  </script>
<!---->
<div id="testimonials" class="pricing">
	 <div class="container">
		 <div class="pricing-text">
		   <h4>行业动态</h4>
		   <h3>客户反馈</h3>
		 </div>
		 <!-- start slider -->	
		<div class="pricing-grids">
			 <div class="slider">
				 <ul class="rslides" id="slider2">
					 <li>						 
					     <div class="col-md-6 pricing-plans">
							 <p>3年前开始合作至今，对二维时代印刷至高的评价。在标签设计、材质选择，后期贴标等方案有丰富的经验，能想到我们不能想到的问题，在质量的保证下还提升了我们标签的设计美感。我推荐二维时代印刷，祝愿二维时代印刷越办越好。</p>
							  <div class="pic1">
								 <img src="/static/codetime/images/pr1.png" alt=""/>
							  </div>
							  <div class="pic-info">
									<h5>李经理</h5>
									<a href="#">采购部经理, 大北农</a>
							  </div>
							  <div class="clearfix"></div>
						 </div>
						 <div class="col-md-6 pricing-plans">
							  <p>15年开始实施兽药二维码标签期间，与二维时代印刷合作，从二维码的摸索阶段，到后期的成熟阶段，二维时代印刷对我们有很大的帮助。之间也有质量上的问题，但是二维时代印刷都能在极短的时间内给予解决方案及实际解决措施。</p>
							  <div class="pic1">
								 <img src="/static/codetime/images/pr2.png" alt=""/>
							  </div>
							  <div class="pic-info">
									<h5>刘主管</h5>
									<a href="#">部门经理, 华南农大</a>
							  </div>
							  <div class="clearfix"></div>
						 </div>						
					      <div class="clearfix"></div>						  
					  </li>	
					  <li>						    
						 <div class="col-md-6 pricing-plans">
							 <p>3年前开始合作至今，对二维时代印刷至高的评价。在标签设计、材质选择，后期贴标等方案有丰富的经验，能想到我们不能想到的问题，在质量的保证下还提升了我们标签的设计美感。我推荐二维时代印刷，祝愿二维时代印刷越办越好。</p>
							  <div class="pic1">
								 <img src="/static/codetime/images/pr2.png" alt=""/>
							  </div>
							  <div class="pic-info">
									<h5>李经理</h5>
									<a href="#">采购部经理, 大北农</a>
							  </div>
							  <div class="clearfix"></div>
						 </div>	
						  <div class="col-md-6 pricing-plans">
							  <p>15年开始实施兽药二维码标签期间，与二维时代印刷合作，从二维码的摸索阶段，到后期的成熟阶段，二维时代印刷对我们有很大的帮助。之间也有质量上的问题，但是二维时代印刷都能在极短的时间内给予解决方案及实际解决措施。</p>
							  <div class="pic1">
								 <img src="/static/codetime/images/m2.jpg" alt=""/>
							  </div>
							  <div class="pic-info">
									<h5>刘经理</h5>
									<a href="#">部门经理, 华南农大</a>
							  </div>
							  <div class="clearfix"></div>
						 </div>
					      <div class="clearfix"></div>						  
					  </li>
					  <li>						 
					     <div class="col-md-6 pricing-plans">
							 <p>3年前开始合作至今，对二维时代印刷至高的评价。在标签设计、材质选择，后期贴标等方案有丰富的经验，能想到我们不能想到的问题，在质量的保证下还提升了我们标签的设计美感。我推荐二维时代印刷，祝愿二维时代印刷越办越好。</p>
							  <div class="pic1">
								 <img src="/static/codetime/images/m1.jpg" alt=""/>
							  </div>
							  <div class="pic-info">
									<h5>李经理</h5>
									<a href="#">采购部经理, 大北农</a>
							  </div>
							  <div class="clearfix"></div>
						 </div>
						 <div class="col-md-6 pricing-plans">
							  <p>15年开始实施兽药二维码标签期间，与二维时代印刷合作，从二维码的摸索阶段，到后期的成熟阶段，二维时代印刷对我们有很大的帮助。之间也有质量上的问题，但是二维时代印刷都能在极短的时间内给予解决方案及实际解决措施。</p>
							  <div class="pic1">
								 <img src="/static/codetime/images/pr1.png" alt=""/>
							  </div>
							  <div class="pic-info">
									<h5>刘经理</h5>
									<a href="#">部门经理, 华南农大</a>
							  </div>
							  <div class="clearfix"></div>
						 </div>						
					      <div class="clearfix"></div>						  
					  </li>	
					  <li>						    
						 <div class="col-md-6 pricing-plans">
							 <p>3年前开始合作至今，对二维时代印刷至高的评价。在标签设计、材质选择，后期贴标等方案有丰富的经验，能想到我们不能想到的问题，在质量的保证下还提升了我们标签的设计美感。我推荐二维时代印刷，祝愿二维时代印刷越办越好。</p>
							  <div class="pic1">
								 <img src="/static/codetime/images/pr2.png" alt=""/>
							  </div>
							  <div class="pic-info">
									<h5>李经理</h5>
									<a href="#">采购部经理, 大北农</a>
							  </div>
							  <div class="clearfix"></div>
						 </div>	
						  <div class="col-md-6 pricing-plans">
							  <p>15年开始实施兽药二维码标签期间，与二维时代印刷合作，从二维码的摸索阶段，到后期的成熟阶段，二维时代印刷对我们有很大的帮助。之间也有质量上的问题，但是二维时代印刷都能在极短的时间内给予解决方案及实际解决措施。</p>
							  <div class="pic1">
								 <img src="/static/codetime/images/m2.jpg" alt=""/>
							  </div>
							  <div class="pic-info">
									<h5>刘经理</h5>
									<a href="#">部门经理, 华南农大</a>
							  </div>
							  <div class="clearfix"></div>
						 </div>
					      <div class="clearfix"></div>						  
					  </li>
				  </ul>
			   </div>
			   <!-- end slider -->
		  </div>  	
	 </div>
</div>
<!---->
<div class="theme">
	 <div class="container"> 
	   <h3><span>标签解决方案，只要您一个电话，其它的交给我们。13552273167</span></h3>
         
	 </div>
</div>
<!---->
<div id="pricing" class="pricing-bottom">
	  <div class="container">
		 <div class="pricing-text-bottom">
		   <h4>精益求精 &nbsp; &nbsp;卓越品质</h4>
		   <h3>电码防伪标签案例</h3>
		 </div>
		  <div class="price-section-grids">
			 <div class="price-value text-center wow fadeInUp" data-wow-delay="0.4s">				  
				  <div class="price-head">
				    <h5>魏氏防伪标签</h5>
				  </div>
				  <div class="cost">
						<h3><span><img src="/static/codetime/images/1.jpg" width="240" height="138" alt=""/></span></h3>
				  </div>
				 <div class="cost-info">
				   <p>魏氏标签结合多重防伪，提供产品防伪效果</p>
				   <a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>				 			 
			 </div>
			 <div class="price-value text-center wow fadeInDown" data-wow-delay="0.4s">				  
				 <div class="price-head">
				   <h5>益康缘源防伪标签</h5>
				 </div>
				 <div class="cost">
					<h3><span><img src="/static/codetime/images/2.jpg" width="165" height="164" alt=""/></span></h3>
				 </div>
				 <div class="cost-info">
				   <p>防伪底纹+电码防伪+刮刮</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>	
		     </div>
			 <div class="price-value text-center wow fadeInUp" data-wow-delay="0.4s">	
					<div class="price-head">
						 <h5>安玫尔防伪标签</h5>
					</div>
					<div class="cost">
						 <h3><span><img src="/static/codetime/images/3.jpg" width="240" height="164" alt=""/></span></h3>
					</div>
					<div class="cost-info">
					<p>防伪底纹+电码防伪+刮刮</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				    </div>					 
			 </div>
			 <div class="price-value text-center wow fadeInDown" data-wow-delay="0.4s">				  
				 <div class="price-head">
						 <h5>大化化肥防伪标签</h5>
				  </div>
				 <div class="cost">
					 <h3><span><img src="/static/codetime/images/6.jpg" width="237" height="160" alt=""/></span></h3>
				 </div>
				 <div class="cost-info">
					<p>防伪底纹+电码防伪+刮刮</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>					 
			 </div>
			 <div class="clearfix"></div>
		  </div>
      </div>
</div>
<div id="pricing" class="pricing-bottom">
	  <div class="container">
		 <div class="pricing-text-bottom">
		   <h4>精益求精 &nbsp; &nbsp;卓越品质</h4>
		   <h3>兽药标签案例</h3>
		 </div>
		  <div class="price-section-grids">
		    <div class="price-value text-center wow fadeInUp" data-wow-delay="0.4s">				  
				  <div class="price-head">
						<h5>生泰尔二维码防伪</h5>
				 </div>
				  <div class="cost">
						<h3><span><img src="/static/codetime/images/20151231353313112.jpg" width="102" height="243" alt=""/></span></h3>
			   </div>
			   <div class="cost-info">
					<p>艾利铜版纸+二维码<br>(一物一码)</p>
				     <a href="{% url 'codetime:jtbq' %}">了解更多</a>
			   </div>				 			 
			 </div>
			 <div class="price-value text-center wow fadeInDown" data-wow-delay="0.4s">				  
				 <div class="price-head">
				    <h5>信得威特电码防伪</h5>
				 </div>
				 <div class="cost">
					<h3><img src="/static/codetime/images/20160601104801565.jpg" width="220" height="241" alt=""/></h3>
			   </div>
				 <div class="cost-info">
					<p>艾利铜版纸+烫金+二维码(一物一码)</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>	
		     </div>
			 <div class="price-value text-center wow fadeInUp" data-wow-delay="0.4s">	
					<div class="price-head">
						 <h5>哈尔滨维科标签</h5>
					</div>
					<div class="cost">
						 <h3><span><img src="/static/codetime/images/178dcf14-cb2c-4d1c-9781-5ad048798f49.jpg" width="182" height="241" alt=""/></span></h3>
					</div>
					<div class="cost-info">
					  <p>进口艾利材料，应用小口径标签，做到不起标，机贴不断标</p>
					  <a href="{% url 'codetime:jtbq' %}">了解更多</a>
				    </div>					 
			 </div>
			 <div class="price-value text-center wow fadeInDown" data-wow-delay="0.4s">				  
				 <div class="price-head">
						 <h5>齐鲁动保标签</h5>
				  </div>
				 <div class="cost">
					 <h3><span><img src="/static/codetime/images/20151217111437757.jpg" width="240" height="241" alt=""/></span></h3>
				 </div>
				 <div class="cost-info">
				   <p>进口艾利材料，应用小口径标签，做到不起标，机贴不断标</p>
				   <a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>					 
			 </div>
			 <div class="clearfix"></div>
		  </div>
      </div>
</div>
<!---->
 

<!---->
<div id="pricing" class="pricing-bottom">
	  <div class="container">
	    <div class="pricing-text-bottom">
	      <h4>精益求精 &nbsp; &nbsp;卓越品质</h4>
		   <h3>日化类标签案例</h3>
		 </div>
		  <div class="price-section-grids">
			 <div class="price-value text-center wow fadeInUp" data-wow-delay="0.4s">				  
				  <div class="price-head">
				    <h5 class="previous">强生湿纸巾<br/>标签</h5>
				  </div>
				  <div class="cost">
						<h3><span><img src="/static/codetime/images/qs1.jpg" width="221" height="221" alt=""/></span></h3>
				  </div>
				 <div class="cost-info">
				   <p>亮白PET或间隔合成纸</p>
				   <a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>				 			 
			 </div>
			 <div class="price-value text-center wow fadeInDown" data-wow-delay="0.4s">				  
				 <div class="price-head">
				   <h5>洗衣液<br/>标签</h5>
				 </div>
				 <div class="cost">
					<h3><span><img src="/static/codetime/images/ri1.jpg" width="221" height="221" alt=""/></span></h3>
				 </div>
				 <div class="cost-info">
				   <p>采用艾利铜版纸+过油</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>	
		     </div>
			 <div class="price-value text-center wow fadeInUp" data-wow-delay="0.4s">	
					<div class="price-head">
						 <h5>沐浴露、洗发水类<br />标签</h5>
					</div>
					<div class="cost">
						 <h3><span><img src="/static/codetime/images/ri2.jpg" width="221" height="221" alt=""/></span></h3>
					</div>
					<div class="cost-info">
					<p>采用艾利铜版纸/透明料+过油/腹膜</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				    </div>					 
			 </div>
			 <div class="price-value text-center wow fadeInDown" data-wow-delay="0.4s">				  
				 <div class="price-head">
						 <h5>洗发露<br />标签</h5>
				  </div>
				 <div class="cost">
					 <h3><span><img src="/static/codetime/images/ri3.jpg" width="221" height="221" alt=""/></span></h3>
				 </div>
				 <div class="cost-info">
					<p>采用艾利透明料-铜版纸-贴玻璃瓶上全透效果</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>					 
			 </div>
			 <div class="clearfix"></div>
		  </div>
      </div>
</div>
<div id="pricing" class="pricing-bottom">
	  <div class="container">
	    <div class="pricing-text-bottom">
	      <h4>精益求精 &nbsp; &nbsp;卓越品质</h4>
		   <h3>食品类标签案例</h3>
		 </div>
		  <div class="price-section-grids">
			 <div class="price-value text-center wow fadeInUp" data-wow-delay="0.4s">				  
				  <div class="price-head">
				    <h5 class="previous">Bobbette＆Belle<br/>标签</h5>
				  </div>
				  <div class="cost">
						<h3><span><img src="/static/codetime/images/shipin1.jpg" width="220" height="221" alt=""/></span></h3>
				  </div>
				 <div class="cost-info">
				   <p>采用进口艾利铜版纸+后期亮膜</p>
				   <a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>				 			 
			 </div>
			 <div class="price-value text-center wow fadeInDown" data-wow-delay="0.4s">				  
				 <div class="price-head">
				   <h5>delicious<br/>标签</h5>
				 </div>
				 <div class="cost">
					<h3><span><img src="/static/codetime/images/shipin2.jpg" width="220" height="221" alt=""/></span></h3>
				 </div>
				 <div class="cost-info">
				   <p>采用艾利合成纸类标签，具有防水、防尘、耐磨、抗撕裂等优点</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>	
		     </div>
			 <div class="price-value text-center wow fadeInUp" data-wow-delay="0.4s">	
					<div class="price-head">
						 <h5>仰山茶油<br />标签</h5>
					</div>
					<div class="cost">
						 <h3><span><img src="/static/codetime/images/shipin3.jpg" width="220" height="221" alt=""/></span></h3>
					</div>
					<div class="cost-info">
					<p>采用进口艾利合成纸+亚膜，让产品高端雅气</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				    </div>					 
			 </div>
			 <div class="price-value text-center wow fadeInDown" data-wow-delay="0.4s">				  
				 <div class="price-head">
						 <h5>rod鸡尾酒<br />标签</h5>
				  </div>
				 <div class="cost">
					 <h3><span><img src="/static/codetime/images/shipin4.jpg" width="220" height="221" alt=""/></span></h3>
				 </div>
				 <div class="cost-info">
					<p>采用艾利透明料-白色UV 油墨印刷-贴玻璃瓶上全透效果</p>
					<a href="{% url 'codetime:jtbq' %}">了解更多</a>
				 </div>					 
			 </div>
			 <div class="clearfix"></div>
		  </div>
      </div>
</div>

<div id="contact" class="contact">
	 <div class="container">
<div class="contact-text">
	   <h4>STAY IN TOUCH</h4>
			<h3>联系我们Contact us</h3>			
		 </div>
		 <div class="contact-grids">
			 <div class="col-md-4 contact-grid text-center wow bounceIn" data-wow-delay="0.4s">
				 <div class="icon1"></div>
				 <p>&nbsp;</p>
				 <p>Mob:13552273167&nbsp李先生</p>
                 <p>010-53355168</p>
			 </div>
			 <div class="col-md-4 contact-grid text-center wow bounceIn" data-wow-delay="0.4s">
				 <div class="icon2"></div>
				 <p>北京大兴区刘村工业区厂前路23号</p>
				 <p>二维时代印刷</p>
			 </div>
			 <div class="col-md-4 contact-grid text-center wow bounceIn" data-wow-delay="0.4s">
				 <div class="icon3"></div>
                 <p>QQ: 233022053</p><a href="tencent://message/?uin=1165058805&amp;Site=客服&amp;Menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:409114345:41 &amp;r=0.8817731731823399" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
				 <a href="mailto:example.com">E-Mail: 233022053@qq.com</a>
			 </div>
			 <div class="clearfix"></div>
		 </div>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="keywords" content="二维时代 专业卷筒不干胶7色UV印刷 防伪印刷 二维码印刷 兽药二维码印刷" />
<meta name="description" content="二维时代 专业卷筒不干胶7色UV印刷 防伪印刷 二维码印刷 兽药二维码印刷" />
<title>百度地图API自定义地图</title>
<!--引用百度地图API-->
<style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>

<body>
  <!--百度地图容器-->
  <div style="width:1200px;height:550px;border:#ccc solid 1px;" id="dituContent"></div>
</body>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(116.377223,39.725494);//定义一个中心点坐标
        map.centerAndZoom(point,18);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"二维时代卷筒UV印刷",content:"卷筒不干胶防伪印刷，电话13552273167，李先生",point:"116.377228|39.725383",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
</html>
</div>
<!---->
<div class="footer text-center">
	 <div class="container">
		 <div class="social">			 
			 <a href="#"><span class="behance"></span></a>
			 <a href="#"><span class="dribble"></span></a>
			 <a href="#"><span class="twitter"></span></a>
			 <a href="#"><span class="facebook"></span></a>
			 <a href="#"><span class="linkedin"></span></a>
		 </div>
		 <p class="wow bounceIn" data-wow-delay="0.4s">Copyright &copy; 2015 LUCID All rights reserved | 北京二维时代印刷 &copy;备案号：<a href="http://www.miitbeian.gov.cn">  京ICP备17005193号</a></p>
	 </div>
</div>
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
</div>
 </body>
 </html>
