<html><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="shortcut icon" href="href=http://www.eddiead.com/logo.ico">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="autor" content="二维时代防伪印刷">
           <meta name="keywords" content="二维时代 专业卷筒不干胶7色UV印刷 防伪印刷 二维码印刷 兽药二维码印刷 食品标签印刷 化妆品标签印刷 物流标签印刷 化工标签印刷 13552273167">
		   <meta name="description" content="二维时代 专业卷筒不干胶7色UV印刷 防伪印刷 二维码印刷 兽药二维码印刷 食品标签印刷 化妆品标签印刷 物流标签印刷 化工标签印刷 13552273167" >
<title>矛盾空间 | 专业卷筒不干胶6色UV印刷 | 望京印刷厂 </title>
<link href="common/index.css"  rel="stylesheet" type="text/css">
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="common/index_ie6.css" /><![endif]-->
<link rel="stylesheet" type="text/css" href="common/menu.css" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="common/menu_style_ie6.css" /><![endif]-->
<link rel="stylesheet" type="text/css" href="common/index_pic_effect.css" />
<SCRIPT language=javascript src="common/index_pic_effect.js" ></SCRIPT>
<style type="text/css">
<!--
.STYLE1 {font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #999999;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.STYLE5 {
	font-size: 50px;
	font-family: "宋体";
}
.STYLE7 {
	font-size: 20px;
	color: #FF0000;
}
.STYLE8 {color: #FF0000}
.STYLE9 {
	font-size: 16px;
	color: #666666;
}
.STYLE10 {color: #666666; }
.STYLE11 {font-size: 24px}
.STYLE12 {font-size: 15px; color: #666666; }
.STYLE13 {font-size: 14}
-->
</style>
</head>

<body>
<table width="862" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="12" colspan="2"></td>
  </tr>
  <tr>
  <td width="4" class="comp"></td>
    <td width="240" align="center"><div align="left"><a href="index.html"><img src="/static/codetime/images/LOGO.gif"  alt="" width="193" height="70"  border="0" ></a></div></td>
    <td style="width:618px;"><span class="style1"></span></td>
  </tr>
</table>
<table width="862" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="introduce_cn"><div align="center">
      <p>&nbsp;</p>
      <h1><span class="banner2 STYLE5">专业卷筒不干胶UV印刷</span></h1>
      <p class="STYLE9">拥有7色PS版、6色树脂版，可变二维码印刷等配套设备，承接：各种卷筒不干胶、各种材质卷筒材料、透明材料、PET等</p>
      <p><span class="banner2"><BR>
        <img src="/static/codetime/images/phn3.jpg" width="832" height="542">      </span><BR>
      </p>
      </div></td>
  </tr>
  <tr>
    <td valign="top"  class="introuduce_en"><p align="center" class="STYLE8">&nbsp;</p>
      <p align="center" class="STYLE7">产品展示</p>
      <table width="800" border="0" align="center">
        <tr>
          <td><img src="/static/codetime/images/images/bgj1.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj2.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj3.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj4.gif" width="208" height="133"></td>
        </tr>
        <tr>
          <td><img src="/static/codetime/images/images/bgj5.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj6.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj7.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj8.gif" width="208" height="133"></td>
        </tr>
        <tr>
          <td><img src="/static/codetime/images/images/bgj9.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj10.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj11.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj12.gif" width="208" height="133"></td>
        </tr>
        <tr>
          <td><img src="/static/codetime/images/images/bgj13.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj14.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj15.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj16.gif" width="208" height="133"></td>
        </tr>
        <tr>
          <td><img src="/static/codetime/images/images/bgj17.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj18.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj19.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj20.gif" width="208" height="133"></td>
        </tr>
        <tr>
          <td><img src="/static/codetime/images/images/bgj21.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj22.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj23.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/bgj24.gif" width="208" height="133"></td>
        </tr>
        <tr>
          <td><img src="/static/codetime/images/images/bgj25.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/egt.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/lxz.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/xbj-m.gif" width="208" height="133"></td>
        </tr>
        <tr>
          <td><img src="/static/codetime/images/images/xq.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/yr.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/zft.gif" width="208" height="133"></td>
          <td><img src="/static/codetime/images/images/lt.gif" width="208" height="133"></td>
        </tr>
      </table>      <p align="center" class="STYLE7">&nbsp;</p></td>
  </tr>
</table>
<table width="862" border="0" align="center">
<p>
  <SCRIPT language=JavaScript type=text/javascript>
<!--

var cNum = 3;
var inte = 10000;
var sTime = null;

var aImgs = new Array();
var aLinks = new Array();
var aTexts = new Array();

aImgs[0] = new Array();
aLinks[0] = new Array();
aTexts[0] = new Array();

aImgs[0][0] = 'images/lzj.jpg';
aLinks[0][0] = 'gb/brandStrategy/lzj.htm';
aTexts[0][0] = '<span class="title_en">SUPER-320速霸</span><span class="title_cn"> 6色UV卷筒不干胶印刷机 <span class="description"></span></span><br/><br/><div class="summary">全轮转-间歇式两用高速不干胶印刷机</div>';


aImgs[0][1] = 'images/xbj.jpg';
aLinks[0][1] = 'gb/brandStrategy/xbj.htm';
aTexts[0][1] = '<span class="title_en">210/280台湾川菱原装进口</span><span class="title_cn">斜背式不干胶印刷机 <span class="description"></span></span><br/><br/><div class="summary">印刷、烫金、闷切一体机</div>';
aImgs[0][2] = 'images/mqj.jpg';
aLinks[0][2] = 'gb/brandStrategy/mqj.htm';
aTexts[0][2] = '<span class="title_en">MQ-320 中天</span><span class="title_cn">全自动标签模切机 <span class="description"></span></span><br/><br/><div class="summary">闷切、烫金、腹膜一体机</div>';
aImgs[0][3] = 'images/jbj.jpg';
aLinks[0][3] = 'gb/brandStrategy/jbj.htm';
aTexts[0][3] = '<span class="title_en">ZTJB-320 中天</span><span class="title_cn">全自动检标机 <span class="description"></span></span><br/><br/><div class="summary">检测划痕、缺印、烫金等不合格产品</div>';



aImgs[1] = new Array();
aLinks[1] = new Array();
aTexts[1] = new Array();

aImgs[1][3] = 'images/mdjt.jpg';
aLinks[1][3] = 'gb/Brand/md.htm';
aTexts[1][3] =  '<span class="title_en">MEIDA </span><span class="title_cn"> 美大集成环保灶<span class="description"></span></span><br/><br/><div class="summary">美大集成电器</div>';

aImgs[1][2] = 'images/zgcs.jpg';
aLinks[1][2] = 'gb/Brand/zgjz.htm';
aTexts[1][2] = '<span class="title_en">CADREG</span><span class="title_cn"> 中国城市建设研究院<span class="description"></span></span><br/><br/><div class="summary">中国城市建设研究院宣传册</div>';

aImgs[1][1] = 'images/zljy.jpg';
aLinks[1][1] = 'gb/Brand/zljy.htm';
aTexts[1][1] = '<span class="title_en">COFCO WINE </span><span class="title_cn">名庄汇 <span class="description"></span></span><br/><br/><div class="summary">中粮酒业会员手册/宣传单</div>';

aImgs[1][0] = 'images/erdos.jpg';
aLinks[1][0] = 'gb/Brand/erdos.htm';
aTexts[1][0] = '<span class="title_en">ERDOS </span><span class="title_cn">鄂尔多斯集团 <span class="description"></span></span><br/><br/><div class="summary">杜福尔春夏/秋冬画册</div>';


aImgs[2] = new Array();
aLinks[2] = new Array();
aTexts[2] = new Array();

aImgs[2][0] = 'images/jylh.jpg';
aLinks[2][0] = 'erdos/design.html';
aTexts[2][0] =  '<span class="title_en">MOHRSS</span><span class="title_cn">全国人才流动毕业生就业服务 <span class="description"></span></span><br/><br/><div class="summary">书籍设计</div>';

aImgs[2][1] = 'images/hgzs.jpg';
aLinks[2][1] = 'erdos/design.html';
aTexts[2][1] = '<span class="title_en">CUSTOMS</span><span class="title_cn">海关总署<span class="description"></span></span><br/><br/><div class="summary">书籍设计</div>';


aImgs[2][2] = 'images/aqh.jpg';
aLinks[2][2] = 'erdos/design.html';
aTexts[2][2] = '<span class="title_en">ANCHIVA </span><span class="title_cn">安启华 <span class="description"></span></span><br/><br/><div class="summary">书籍设计</div>';

aImgs[2][3] = 'images/zglt.jpg';
aLinks[2][3] = 'erdos/design.html';
aTexts[2][3] = '<span class="title_en">CHINA AUNICOM</span><span class="title_cn">中国联通 <span class="description"></span></span><br/><br/><div class="summary">PVC及手提袋设计制作</div>';


function divHtml(num,sId){
  var html = '<div id="'+sId+'">';
  var sLink = '';
  var sImg = '';
  var sText = '';
  for(var i=0;i<aImgs[num].length;i++){
    sLink = aLinks[num][i];
    sImg = aImgs[num][i];
    sText = aTexts[num][i];
    html += '<div class="li_img"><a href="'+sLink+'" target=_blank><img src="/static/codetime/'+sImg+'" width="207" height="133" border="0" alt=""></a></div><div class="li_text"><a href="'+sLink+'"  target=_blank>'+sText+'</a></div>';
    if(i<aImgs[num].length-1){
      html += '';
    }
  }
  html += '</div>';
  return html;
}

function sw(num){
  cNum = num;

  if(num=="0"){
    $('#list_c1').show();
    $('#rdtj .crl_n1 img').attr('src','New Document.files/btn_on.gif');
    $('#list_c2').hide();
    $('#rdtj .crl_n2 img').attr('src','New Document.files/btn_off.gif');
    $('#list_c3').hide();
    $('#rdtj .crl_n3 img').attr('src','New Document.files/newwork.gif');

  }else if(num=="1"){
    $('#list_c1').hide();
    $('#rdtj .crl_n1 img').attr('src','New Document.files/btn_off.gif');
    $('#list_c2').show();
    $('#rdtj .crl_n2 img').attr('src','New Document.files/btn_on.gif');
    $('#list_c3').hide();
    $('#rdtj .crl_n3 img').attr('src','New Document.files/newwork.gif');

  }else if(num=="2"){
    $('#list_c1').hide();
    $('#rdtj .crl_n1 img').attr('src','New Document.files/btn_off.gif');
    $('#list_c2').hide();
    $('#rdtj .crl_n2 img').attr('src','New Document.files/btn_off.gif');
    $('#list_c3').show();
    $('#rdtj .crl_n3 img').attr('src','New Document.files/newwork.gif');

 }else if(num=="3"){
    $('#list_c1').hide();
    $('#rdtj .crl_n1 img').attr('src','New Document.files/btn_off.gif');
    $('#list_c2').hide();
    $('#rdtj .crl_n2 img').attr('src','New Document.files/btn_off.gif');
    $('#list_c3').hide();
    $('#rdtj .crl_n3 img').attr('src','New Document.files/newwork.gif');

  }

  clearTimeout(sTime);
  sTime = setTimeout("rot()",inte);
}

function sw_prev(){
    cNum = (cNum<=0)?2:cNum-1; 
    sw(cNum);
}

function sw_next(){
    cNum = (cNum>=2)?0:cNum+1; 
    sw(cNum);
}

function rot(){
  sw_next();
}

function init(){
  $('#rdtj .con').html(divHtml(0,'list_c1')+divHtml(1,'list_c2')+divHtml(2,'list_c3'));
  rot();
}


$(function(){
  init();
});
//-->
</SCRIPT>
</p>
<div class="bottom">
  <div align="center" class="STYLE13">二维时代防伪印刷&nbsp;版权所有 &nbsp;Tel:010-53355168 &nbsp;&nbsp;&nbsp;13552273167 北京市大兴区刘村工业区厂前路23号 </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www./");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F70d346786214f4cb2d6945043a0c4775' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10088571-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
