<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="/static/codetime/css/login.css" type="text/css">

</head>
<body>
    <div class="login">
        <form action="{% url 'codetime:loginForm' %}" method="post">
	{% csrf_token %}
		<label for="name">账号</label>
		<input id="name" type="text" required = "required" name="name" value="{{ person.name }}">
		<br/>
		<label for="password">密码</label>
		<input id="password" type="password" required = "required" name="password" value="{{ person.password }}">
		<button class="but" type="submit">登录</button>
	</form>
    </div>

	
</body>
</html>