 {% extends 'codetime/base.html' %} {% block title %}订单查询{% endblock %} {% block content %}
<div class="contenthead">
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active">订单查询</li>
    </ol>
</div>
<form class="form-horizontal" action="{% url 'codetime:orderSearch' %}" method="get">
    {% csrf_token %}
    <div class="contentbody">
        <div class="bodyhead">
            <div class="titlelabel labelfont15">
                <span class="textleft70">基本情况:</span>
            </div>
            <div class="baseinfo">
                <div class="base1">
                    <div class="form-group">
                        <label for="text1" class="col-sm-3 control-label input-sm">客户名称:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" id="text1" name="text1" value="{{ condition.text1 }}" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text2" class="col-sm-3 control-label input-sm">搜索名称:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="text2" name="text2" placeholder="请输入" value="{{condition.text2}}">
                        </div>
                    </div>
                </div>
                <div class="base2">
                    <div class="form-group">
                        <label for="dtp_input2" class="col-sm-3 control-label input-sm">搜索日期:</label>
                        <div class="input-group date form_date col-sm-7" data-date="" data-date-format=" yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" id="text23" value="{{condition.text23}}" name="text23" type="text">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text3" class="col-sm-3 control-label input-sm">发货:</label>
                        <div class="col-sm-6">

                            <select id="shipments" name="shipments">
                                <option value="全部">全部</option>
                                {% if condition.shipments == 0 %}
                                    <option value="0" selected = "selected">未发货</option>
                                {% else %}
                                    <option value="0">未发货</option>
                                {% endif %}
                                {% if condition.shipments == 1 %}
                                     <option value="1" selected = "selected">已发货</option>
                                {% else %}
                                    <option value="1">已发货</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="base3">
                    <div class="form-group">
                        <label for="text3" class="col-sm-3 control-label input-sm">状态:</label>
                        <div class="col-sm-6">
                            <select id="status" name = "status">
                                <option value="全部">全部</option>
                                {% if condition.status == 0 %}
                                    <option value="0" selected = "selected">生产中</option>
                                {% else %}
                                    <option value="0">生产中</option>
                                {% endif %}
                                {% if condition.status == 1 %}
                                     <option value="1" selected = "selected">已完成</option>
                                {% else %}
                                    <option value="1">已完成</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text4" class="col-sm-3 control-label input-sm">结款:</label>
                        <div class="col-sm-6">
                            <select id="knot" name = "knot">
                                <option value="全部">全部</option>
                                {% if condition.knot == 0 %}
                                    <option selected = "selected" value="0">未结款</option>
                                {% else %}
                                    <option value="0">未结款</option>
                                {% endif %}
                                {% if condition.knot == 1 %}
                                     <option selected = "selected" value="1">已结款</option>
                                {% else %}
                                    <option value="1">已结款</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentsubbody">
            <div class="bodybottom">
                <div class="bottomBtn">
                    <button id="order_search" type="submit" class="btn btn-primary">搜索</button>
                    <span> </span>
                    <button type="button" class="btn btn-danger">重置</button>
                </div>
            </div>
            <div class="MytableView">
                            <table class="table table-bordered" contenteditable="false">
                                <thead>
                                    <tr>
                                        <th>日期</th>
                                        <th>订单号</th>
                                        <th>客户名称</th>
                                        <th>产品名称</th>
                                        <th>数量</th>
                                        <th>单价</th>
                                        <th>金额</th>
                                        <th>状态</th>
                                        <th>发货</th>
                                        <th>结款情况</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="contentData">
                                    {% for item in dataSource %}
                                    <tr>
                                        <td>{{ item.text23 }}</td>
                                        <td>{{ item.text3 }}</td>
                                        <td>{{ item.text1 }}</td>
                                        <td>{{ item.text5 }}</td>
                                        <td>{{ item.text8 }}</td>
                                        <td>{{ item.text4 }}</td>
                                        <td>{{ item.amount }}</td>
                                        {% if item.status %}
                                            <td><button  onclick="changeStatus({{ item.id}},'{{ item.status }}');">已完成</button></td>
                                        {% else %}
                                            <td><button style="color: red" onclick="changeStatus({{ item.id}},'{{ item.status }}');">生产中</button></td>
                                        {% endif %}
                                        {% if item.shipments %}
                                            <td><button onclick="changeShipments({{ item.id}},'{{ item.shipments }}');">已发货</button></td>
                                        {% else %}
                                            <td><button style="color: red" onclick="changeShipments({{ item.id}},'{{ item.shipments }}')">未发货</button></td>
                                        {% endif %}
                                        {% if item.knot %}
                                            <td><button onclick="changeKnot({{ item.id}},'{{ item.knot }}');">已结款</button></td>
                                        {% else %}
                                            <td ><button style="color: red" onclick="changeKnot({{ item.id}},'{{ item.knot }}');">未结款</button></td>
                                        {% endif %}
                                        <td>
{#                                           <p><button type="button" class="left m_left"  onclick="editProduct({{ item.id }});">编辑</button></td></p>#}
                                            <p class="left" onclick="editProduct({{ item.id }});"><a>编辑</a></p>
                                            <button type="button" class="left m_left"  onclick="writeDataToExcel({{ item.id }});">打印</button></td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
            <div class="statistical">
                <p class="left"> 未收金额: <b>{{ nonReceiveAmount }}</b> 元</p>
                <p class="left m_left m_right">已收金额: <b>{{ receiveAmount }}</b> 元 </p>
                <p>全部金额: <b>{{ fullAmount }}</b> 元 </p>
            </div>
        </div>
        <div class="bodybottom">
            <div class=" Page navigation pagination">
                {{ page_str }}
            </div>
        </div>
    </div>
</form>
{% endblock %} {% block js %}
<script type="text/javascript">
function getXHR() {
    var xhr = null;
    if (XMLHttpRequest) {
        xhr = new XMLHttpRequest();
    } else {
        xhr = new ActiveXObject("Microsoft.XMLHTTP");
    }
    return xhr;

}
function editProduct(item_id) {

    $.ajax({
        method: 'GET',
        url: "/codetime/editProduct/",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function(data) {
            debugger;
            if(data == 'OK'){
                window.location.href = "../product/" + item_id
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
        },
    });
}
function changeShipments(item_id, item_shipments) {

    $.ajax({
        method: 'POST',
        url: "/codetime/changeShipments/",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            item_id: itm_id,
            item_shipments: item_shipments,
        },
        success: function(data) {
            debugger;
            console.log('chenggong');
            window.location.reload();
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
        },
    });
}
function changeStatus(item_id, item_status) {

    $.ajax({
        method: 'POST',
        url: "/codetime/changeStatus/",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            item_id: item_id,
            item_status: item_status,
        },
        success: function(data) {
            debugger;
            console.log('chenggong');
            window.location.reload();
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
        },
    });
}
function changeKnot(item_id, item_knot) {

    $.ajax({
        method: 'POST',
        url: "/codetime/changeKnot/",

        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            item_id: item_id,
            item_knot: item_knot,
        },
        success: function(data) {
            debugger;
            console.log('chenggong');
            window.location.reload();
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
        },
    });
}
function writeDataToExcel(item_id) {
{#    var tt = new Date().getTime();#}
    debugger;
    var url = '/codetime/writeOrderToExcel/';
    /**
    * 使用form表单来发送请求
    * 1.method属性用来设置请求的类型——post还是get
    * 2.action属性用来设置请求路径。
    *
    */
    var form=$("<form>");//定义一个form表单
    form.attr("style","display:none");
    form.attr("target","");
    form.attr("method","get"); //请求类型
    form.attr("action",url); //请求地址
    $("body").append(form);//将表单放置在web中
    　　/**
    * input标签主要用来传递请求所需的参数：
    *
    * 1.name属性是传递请求所需的参数名.
    * 2.value属性是传递请求所需的参数值.
    *
    * 3.当为get类型时，请求所需的参数用input标签来传递，直接写在URL后面是无效的。
    * 4.当为post类型时，queryString参数直接写在URL后面，formData参数则用input标签传递
    * 有多少数据则使用多少input标签
    *
    　　　*/
    var input1=$("<input>");
    input1.attr("type","hidden");
    input1.attr("name","item_id");
    input1.attr("value",item_id);
    form.append(input1);
    form.submit();
{#    $.ajax({#}
{#        method: 'GET',#}
{#        url: "/codetime/writeOrderToExcel/",#}
{#        dataType:'text',#}
{#        data: {#}
{#            item_id: item_id,#}
{#        },#}
{#        success: function(data) {#}
{#            debugger;#}
{#            console.log('成功打印');#}
{#        },#}
{#        error: function() {#}
{#            console.log('失败');#}
{#        }#}
{#    });#}
}
</script>
{% endblock %}