
{% extends 'codetime/base.html' %}

{% block title %}生产单{% endblock %}

{% block content %}
            <div class="contenthead">
                <ol class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li class="active">生产单</li>
                </ol>
            </div>
            <form class="form-horizontal" action="{% url 'codetime:productForm' %}" method="post">
            {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id|default:"0"}}">
                <div class="contentbody">
                    <!--startprint-->
                        <div class="bodyhead">
                        <div class="titlelabel labelfont15">
                            <span class="textleft70">基本情况:</span>
                        </div>
                        <div class="baseinfo">
                            <div class="base1">
                                <div class="form-group">
                                    <label for="text1" class="col-sm-3 control-label input-sm">*客户:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text1" name="text1"  value="{{ product.text1 }}" placeholder="请输入">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text2" class="col-sm-3 control-label input-sm">地址:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="text2" name="text2" placeholder="请输入" value="{{product.text2}}">
                                    </div>
                                </div>
                            </div>
                            <div class="base2">
                                <div class="form-group">
                                    <label for="dtp_input1" class="col-sm-4 control-label input-sm">*下单日期:</label>
                                    <div class="input-group date form_date col-sm-7" data-date="" data-date-format=" yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                                        <input class="form-control" id="text23" name="text23"  size="16" type="text" value="{{product.text23}}" >
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dtp_input2" class="col-sm-4 control-label input-sm">交货日期:</label>
                                    <div class="input-group date form_date col-sm-7" data-date="" data-date-format=" yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                        <input class="form-control" size="16" id="text24" value="{{product.text24}}" name="text24" type="text">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="base3">
                                <div class="form-group">
                                    <label for="text3" class="col-sm-3 control-label input-sm">合同编号:</label>
                                    <div class="col-sm-9">
                                        <label class="col-sm-3 control-label input-sm">{{product.text3}}</label>
{#                                        <input type="text" class="form-control" id="text3" name="text3" placeholder="0000001" value="{{product.text3}}">#}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text4" class="col-sm-3 control-label input-sm">*单价:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text4" name="text4" placeholder="请输入" value="{{product.text4}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="contentsubbody">
                        <div class="bodyone">
                            <div class="bodyone1">
                                <div class="titlelabel labelfont15">
                                    <span class="textleft70">印刷情况:</span>
                                </div>
                                <div class="form-group">
                                    <label for="text5" class="col-sm-3 control-label input-sm">*产品名称:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="text5" name="text5" placeholder="" value="{{product.text5}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text6" class="col-sm-3 control-label input-sm">尺寸:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text6" name="text6" placeholder="" value="{{product.text6}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text7" class="col-sm-3 control-label input-sm">颜色:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="text7" name="text7" placeholder="" value="{{product.text7}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text8" class="col-sm-3 control-label input-sm">*成品数量:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text8" name="text8" placeholder="" value="{{product.text8}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text9" class="col-sm-3 control-label input-sm">印刷材料:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="text9" name="text9" placeholder="" value="{{product.text9}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text10" class="col-sm-3 control-label input-sm">印刷宽幅:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text10" name="text10" placeholder="" value="{{product.text10}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text25" class="col-sm-3 control-label input-sm">印刷版长:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text25" name="text25" placeholder="" value="{{product.text25}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text26" class="col-sm-3 control-label input-sm">印刷数量:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text26" name="text26" placeholder="" value="{{product.text26}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text27" class="col-sm-3 control-label input-sm">材料宽幅:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text27" name="text27" placeholder="" value="{{product.text27}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text28" class="col-sm-3 control-label input-sm">用料数量:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text28" name="text28" placeholder="" value="{{product.text28}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text29" class="col-sm-3 control-label input-sm">出血:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text29" name="text29" placeholder="" value="{{product.text29}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text30" class="col-sm-3 control-label input-sm">版面枚数:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text30" name="text30" placeholder="" value="{{product.text30}}">
                                    </div>
                                </div>
                                <div class="titlelabel labelfont15">
                                    <span class="textleft70">后期情况:</span>
                                </div>
                                <div class="form-group">
                                    <label for="text11" class="col-sm-3 control-label input-sm">喷码:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text11" name="text11" placeholder="" value="{{product.text11}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text12" class="col-sm-3 control-label input-sm">复膜:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text12" name="text12" placeholder="" value="{{product.text12}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text31" class="col-sm-3 control-label input-sm">过油:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text31" name="text31" placeholder="" value="{{product.text31}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text13" class="col-sm-3 control-label input-sm">丝网:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text13" name="text13" placeholder="" value="{{product.text13}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text14" class="col-sm-3 control-label input-sm">烫金:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text14" name="text14" placeholder="" value="{{product.text14}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text15" class="col-sm-3 control-label input-sm">标间距:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text15" name="text15" placeholder="" value="{{product.text15}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text16" class="col-sm-3 control-label input-sm">R角:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text16" name="text16" placeholder="" value="{{product.text16}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text17" class="col-sm-3 control-label input-sm">成标要求:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text17" name="text17" placeholder="" value="{{product.text17}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text18" class="col-sm-3 control-label input-sm">筒芯尺寸:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text18" name="text18" placeholder="" value="{{product.text18}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text19" class="col-sm-3 control-label input-sm">打包要求:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text19" name="text19" placeholder="" value="{{product.text19}}">
                                    </div>
                                </div>
{#                                <div class="form-group">#}
{#                                    <label for="text20" class="col-sm-3 control-label input-sm">出库数量:</label>#}
{#                                    <div class="col-sm-9">#}
{#                                        <input type="text" class="form-control input-sm" id="text20" name="text20" placeholder="" value="{{product.text20}}">#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="form-group">
                                    <label for="text21" class="col-sm-3 control-label input-sm">菲林编号:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text21" name="text21" placeholder="" value="{{product.text21}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text22" class="col-sm-3 control-label input-sm">刀版编号:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" id="text22" name="text22" placeholder="" value="{{product.text22}}">
                                    </div>
                                </div>

                            </div>
                            <div class="bodyone2">
                                <div class="titlelabel labelfont15">
                                    <span class="textleft70">巡检:</span>
                                </div>
                            </div>
                        </div>
                        <div class="bodytwo">
                            <div class="titlelabel labelfont15">
                                <span class="textleft70">特殊要求备注(小样粘贴处):</span>
                            </div>
                            <div class="parsePostion"></div>
                        </div>
                    </div>
                    <!--endprint-->
                        <div class="bodybottom">
                        <div class="bottomBtn">
                            <button type="submit" class="btn btn-primary">保存</button>
{#                            <span> </span>#}
{#                            <button type="button" onclick="doPrint()" class="btn btn-primary">打印</button>#}
                        </div>
                    </div>
                </div>
            </form>


{% endblock %}

    {% block js %}
    <script type="text/javascript">

    function doPrint() {
        bdhtml=window.document.body.innerHTML;
        sprnstr="<!--startprint-->";
        eprnstr="<!--endprint-->";
        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17);
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML=prnhtml;
        window.print();
        window.document.body.innerHTML = bdhtml;
    }

    </script>
{% endblock %}
