<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>测试首页</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
	<script href="{% static 'dist/js/jquery.min.js' %}"></script>
	<script href="{% static 'dist/js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/product.css' %}">
	<script type="text/javascript" href="{% static 'js/main.js' %}"></script>
</head>
<body>
	<div class="backview">
		<div class="mynav">
			<div class="headerbar">
		        <a class="navbar-brand" href="#">二维时代</a>
		    </div>
		    <div class="navlist">
		    	<a href="#" class="list-group-item active">
				生产单
				</a>
				<a href="#" class="list-group-item">合同</a>
				
		    </div>
		</div>
		<div class="contentview">
			<div class="contenthead">
				
			</div>
			<div class="contentbody">
				<div class="bodyhead textleft">
					<div class="titlelabel textleft">
						<span>基本情况:</span>
					</div>
					
				</div>
				<div class="contentsubbody">
					<div class="bodyone">
					</div>
					<div class="bodytwo">
						
					</div>
				</div>
				<div class="bodybottom">
					
				</div>
			</div>
		    
		</div>
	</div>
</body>
</html>
